/* login */
.bg-login {
  /* 
  background-image: url("../image/bg-login.png");
   */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.login {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgb(12 150 228 / 25%);
  border-radius: 30px;
  height: 65vh;
  min-height: 630px;
}

.login-title {
  font-family: var(--font-regular);
  color: var(--color-primary);
  font-size: 25px;
  text-align: center;
}