* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-custom {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: blue;
  }

  .fondo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    position: relative;
  }

  .f{ position: relative; }

  .f .fondo-1{
    display: flex;
    justify-content: start;
    height: 50%;
    width: 100%;
  }

  .f .fondo-2{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50%;
  }

  /*Icon Float whatsapp*/
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  /*contenedor texto*/
  .contenedor-texto .titulo {
   font-size: 50px;
   font-weight: normal;
   margin-bottom: 40px;
  }

  .contenedor-texto .mascota {
      font-weight: bold;
      color: #c99806;
      font-style: normal;
  }

  .contenedor-texto p {
      margin-bottom: 40px;
      margin-right: 40px;
      font-size: 20px;

      line-height: 36px;
  }

  .card-P{
    padding-bottom: 950px;
  }